.button-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    button {
        margin: .5rem;
        white-space: pre-wrap;
    }
}
