<mat-toolbar color="primary">
  <a routerLink="/">Home</a>
  <app-menu></app-menu>
  <caption>{{ startTime | date: 'mediumTime'}}</caption>
</mat-toolbar>
<mat-card>
  <article>
    <h1>
      {{ quiz.title | uppercase }}
    </h1>
    <p>
      {{ quiz.description }}
    </p>

    <p>Your score so far: {{ scorePercentage | number: "1.0-0" }} out of 100.</p>

    <mat-vertical-stepper #stepper>
      <mat-step *ngFor="let question of quiz?.questions">
        <h2>
          {{ question?.question }}
        </h2>
        <div *ngFor="let option of question?.options">
          <div class="button-container">
            <button
              mat-raised-button
              color="primary"
              (click)="onClick(question.id, option)"
            >
              {{ option?.label }}. {{ option?.text }}
            </button>
          </div>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </article>
</mat-card>
