<article>
    <h1>
        {{ quiz?.title | uppercase }}
    </h1>
    <p>
        {{ quiz?.description }}
    </p>

    <div *ngFor="let question of quiz?.questions">
        <h2>
            {{question?.id}} - {{ question?.question }}
        </h2>
        <div *ngFor="let option of question?.options">
            <div class="button-container">
                <button mat-flat-button color="accent" (click)="onClick(option)">
                    {{ option?.label }}. {{ option?.text }}
                </button>
            </div>
        </div>
    </div>
</article>
