<article>
    <section class="header">
        <h1>
            Key Industries For 2021
        </h1>
    </section>

    <section class="odd">
        <section class="right">
            <p>
                Schools can use branded gifts to reinforce the feeling of community.
            </p>
            <p class="source">
                Source: Inside Higher Ed
            </p>
        </section>
        <section class="left">
            <h2>
                Education
            </h2>
            <p>
                <span class="big-statistics">
                    44%
                </span>
                of students noted that stress and loneliness increased during the pandemic.
            </p>
        </section>
    </section>

    <section class="even">
        <section class="right">
            <p>
                With more construction expected this year, it'll be an opportunity to invest in safety programs.
            </p>
            <p class="source">
                Source: ENR
            </p>
        </section>
        <section class="left">
            <h2>
                Construction
            </h2>
            <p>
                <span class="big-statistics">
                    20-40%
                </span>
                of workplaces that establish safety and health management systems can reduce their injury and illness
                costs.
            </p>
        </section>
    </section>

    <section class="odd">
        <section class="right">
            <p>
                With online ordering being widely adopted, there's a need for branded apparel for delivery drivers.
            </p>
            <p class="source">
                Source: Super Market News
            </p>
        </section>
        <section class="left">
            <h2>
                Grocery
            </h2>
            <p>
                <span class="big-statistics">
                    40%
                </span>
                Estimated growth of online grocery sales in 2020.
            </p>
        </section>
    </section>

    <section class="even">
        <section class="right">
            <p>
                Branded apparel reinforces trust and confidence for virtual health appointments.
            </p>
            <p class="source">
                Source: Medical Economics
            </p>
        </section>
        <section class="left">
            <h2>
                Healthcare
            </h2>
            <p>
                The use of telehealth services will account for more than
                <span class="big-statistics">
                    $29.3 billion
                </span>
                of medical services in the United States.
            </p>
        </section>
    </section>

    <section class="odd">
        <section class="right">
            <p>
                Many companies will look to invest in gifts that show employees their hard work and commitment are
                appreciated.
            </p>
            <p class="source">
                Source: Business Insider
            </p>
        </section>
        <section class="left">
            <h2>
                Technology
            </h2>
            <p>
                <span class="big-statistics">
                    68%
                </span>
                of tech workers feel more burned out working remotely than at an office.
            </p>
        </section>
    </section>

</article>